*,
*::before,
*::after 
	box-sizing: inherit
	margin: 0
	padding: 0

*:focus
	outline: 0


.container
	margin: 0 auto
	padding-left: 75px
	padding-right: 75px


a
	color: inherit
	text-decoration: none
	list-style-type: none
	cursor: pointer


p
	margin: 0


ul
	list-style-type: none
	padding: 0
	margin: 0


img
	max-width: 100%

body,
header
	font-family: 'Futura PT', sans-serif
	font-weight: 400
	box-sizing: border-box
	background: #FFF

.content-sidebar-title
	cursor: initial
	font-weight: 500
	margin-bottom: 10px
	font-size: 14px
	line-height: 22px
	color: #000

.excerpt-link
	font-size: 14px
	font-weight: 300
	color: #000
	line-height: 22px
	border-bottom: 1px dashed #000

// header//

.header
	height: 100vh 
	&::before
		content: ''
		display: block
		background: url(/img/bg.png)
		background-size: inherit
		background-position-x: 203%
		position: absolute
		bottom: 0
		height: 20%
		width: 100%
		z-index: 1
		margin-bottom: -2px
	video
		position: absolute
	.container
		@media (max-width: 1000px)
			padding-left: 10px
			padding-right: 10px
		.btn-header
			@media (max-width: 1000px)
				display: block
				// z-index: 10
				// margin-top: -75px
				// margin-left: 21px
		.btn-header.burger 
			display: none
			@media (max-width: 1000px)
				display: block
				position: relative
				width: 30px
				height: 23px
				float: right
				margin-top: 20px
				.burger-line 
					position: absolute
					width: 30px
					height: 3px
					background: #fff
					&:nth-child(2) 
						bottom: 3px
					&:nth-child(3) 
						top: 9px
		.header-nav
			position: relative
			display: flex
			justify-content: space-between
			position: relative
			padding-top: 4px
			align-items: center
			width: 100%
			top: 0
			@media (max-width: 1000px)
				display: block
				width: 16%
				position: fixed
				height: 100%
				right: 0
				top: 0
				background-color: #000000
				z-index: 1
				.cross
					width: 24px
					height: 20px
					transform: rotate(0deg)
					z-index: 999
					float: right
					position: relative
					margin-right: 15px
					margin-top: 10px
					span
						display: block
						position: absolute
						width: 100%
						opacity: 1
						left: 0
						-webkit-transform: rotate(0deg)
						-moz-transform: rotate(0deg)
						-o-transform: rotate(0deg)
						transform: rotate(0deg)
						height: 2px
						background-color: #fff
						&:nth-child(1) 
							top: 8px
							width: 0%
							left: 50%
							height: 2px
						&:nth-child(2) 
							transform: rotate(45deg)
							height: 2px
							top: 8px
						&:nth-child(3) 
							transform: rotate(-45deg)
							height: 2px
							top: 8px
						&:nth-child(4) 
							top: 8px
							width: 0
							left: 50%
							height: 2px
			.header-nav-list
				display: flex
				width: 12%
				@media (max-width: 1000px)
					display: block
					padding: 48px 40px 38px
					width: 100%
				.header-nav-item
					margin-right: 30px
					@media (max-width: 1000px)
						margin-bottom: 15px
						margin-right: 0px
					&:last-child
							margin-right: 0
					.header-nav-link
						color: #ffffff
						font-weight: 600
						font-size: 16px
						@media (max-width: 1000px)
							font-weight: 200
							font-size: 18px
				.header-nav-item.mobile
					display: none
					@media (max-width: 1000px)
						display: block
			.header-nav-logo 
				width: 20%
				text-align: center
				img
					width: 200px
					height: 70px
				@media (max-width: 1000px)
					display: none
			.header-nav-social
				display: flex
				justify-content: end
				width: 20%
				.header-nav-social-item
					margin-right: 10px
					&:last-child
						margin-right: 0

.search
	.container
		padding-left: 110px
		padding-right: 110px
		.search-block
			display: flex
			justify-content: right
			margin-bottom: 20px
			.search-link
				margin-right: 20px
				display: flex
				align-items: center
				background: #f8f8f8
				.search-link-input
					border: 1px #ddd solid
					background: #f8f8f8
					padding: 5px
					margin-right: 6px
					&:focus
						outline: 1px solid #ddd
				
				.search-link-images
					width: 13px
					outline: 1px solid #ddd
					outline-offset: 6px

			.search-block-select
				border: 1px #ddd solid
				background: #f8f8f8
				color: #000
				box-sizing: border-box
				cursor: pointer
				padding: 2px 30px 2px 10px
				border-radius: 3px
				font-size: 14px

.content
	padding-bottom: 50px
	.content-block
		display: flex
		height: 90vh
		overflow: hidden
		margin-bottom: 65px
		.content-sidebar
			width: 18%
			overflow-y: scroll
			margin-right: 10px
			padding-right: 10px
			padding-left: 15px
			.content-sidebar-slider
				.polzunok-container
					// justify-content: space-between
					&:after 
						content: ""
						clear: both
						display: table
					.ui-slider 
						position: relative
						background: #ccc
						height: 2px
						border-radius: 10px
						margin-bottom: 15px
						
						.ui-slider-handle 
							position: absolute
							margin-left: -16px
							width: 22px
							height: 22px
							cursor: pointer
							border-radius: 50%
							border: 2px solid #cccccc
							top: -11px
							background: #FFF
							z-index: 2
							transition: transform 0.2s, border 0.4s
						
						.ui-slider-handle:hover,
						.ui-slider-handle:focus 
							border: 2px solid #000
						.ui-slider-range 
							position: absolute
							z-index: 1
							height: 2px
							border: 0
							background: #7dc3fe
							border-radius:10px
						
					.polzunok-input-left 
						width: 40%
						min-height: 24px
						padding: 0px 6px
						background: #f3f3f3
						outline: 0
						border: 1px solid #ccc
						font-style: oblique
					
					.polzunok-input-right 
						float: right
						width: 40%
						min-height: 24px
						padding: 0px 6px
						background: #f3f3f3
						outline: 0
						border: 1px solid #ccc
						font-style: oblique
						
			.content-sidebar-general
				margin-bottom: 30px
				.content-sidebar-general-list
					.content-sidebar-general-item
						margin-bottom: 10px
						.content-sidebar-general-link
							font-weight: 400
							font-size: 15px
							cursor: pointer
							line-height: 20px
							transition: all 0.3s ease
							&:hover
								opacity: .7
								font-weight: 600
							&:focus
								opacity: .7
								font-weight: 600

			.content-sidebar-choice
				margin-bottom: 30px
				.content-sidebar-choice-list
					.content-sidebar-choice-item
						font-size: 14px
						color: #000
						line-height: 22px
						font-weight: 400
						margin-bottom: 15px
						opacity: .8
						label
							position: relative
							padding-left: 25px
							cursor: pointer
							&::after
								content: ""
								border: 2px solid #000
								width: 20px
								height: 20px
								display: block
								position: absolute
								top: 1px
								opacity: .6
						input
							display: none
						input + label
							&:before
								display: none
						input:checked + label
							opacity: 1
							&::after
								opacity: 1
							&:before
								content: ''
								position: absolute
								display: block
								left: 8px
								width: 6px
								height: 11px
								top: 4px
								border: solid #000
								border-width: 0 2px 2px 0
								transform: rotate(45deg)
			
			.content-sidebar-choice.scroll
				overflow-y: scroll					
									

		.content-catalog
			width: 82%
			display: flex
			flex-wrap: wrap
			overflow: auto
			&::-webkit-scrollbar
				width: 0
			.content-catalog-block
				width: 31%
				margin-right: 20px
				min-height: 500px
				margin-bottom: 20px
				&:last-child
					margin-right: 0
				.content-catalog-block-bg
					background: url("/img/catalog-product.jpg")
					background-size: cover
					min-height: 333px
					margin-bottom: 20px
					&:hover
						background: url("/img/catalog-product1.jpg")
						background-size: cover
						min-height: 333px
						margin-bottom: 20px
				.content-catalog-link
					margin-bottom: 20px
					font-size: 20px
					line-height: 27px
					font-weight: 600
				.content-catalog-block-info
					display: flex
					margin-right: 20px
					.content-catalog-descr
						font-size: 22px
						line-height: 30px
						font-weight: 500
					.descr-new
						color: #000
						margin-right: 10px
					.descr-old
						color: #BDBDBD
						text-decoration: line-through
				.content-catalog-block-desc
					color: #f95d51
					font-size: 14px
					font-weight: 400
					margin-top: 10px

	.content-control
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 75px
		.content-control-link
			font-size: 15px
			border-radius: 3px
			color: #000
			opacity: .4
			margin-right: 15px
			padding: 7px 15px
			&:focus
				opacity: 1
				outline: 1px solid #000
			&:hover
				opacity: .4
				background: #f5f5f5
			&:last-child
				transform: translateY(2px)
				margin-right: 0
		.content-control-link img
			transform: translateY(2px)

	.content-description
		max-width: 760px
		margin: auto
		margin-bottom: 75px
		.content-description-text
			font-size: 20px
			font-weight: 300
			color: #000
			margin-bottom: 50px
			line-height: 31px
			&:last-child
				margin-bottom: 0

.about
	background: #000
	padding-bottom: 165px
	border-bottom: 1px solid #000
	padding-top: 244px
	position: relative
	&::before
		content: ""
		display: block
		background: url(/img/bg.png)
		background-size: inherit
		background-position-x: 73%
		position: absolute
		top: -57px
		height: 20%
		width: 100%
		z-index: 1
		transform: rotate(180deg)
	.about-block
		display: flex
		justify-content: space-between
		.about-bg
			background: url('/img/about-bg.jpg')
			background-size: cover
			width: 41%
			min-height: 383px
			border-radius: 10px
		.about-info
			width: 50%
			.about-info-title
				font-size: 42px
				color: #fff
				font-weight: 500
				text-transform: uppercase
				line-height: 65px
			.about-info-descr
				font-size: 18px
				line-height: 28px
				color: #fff
				font-weight: 400

.footer
	background: #000
	.footer-block
		padding-top: 40px
		border-top: 1px solid #fff
		display: flex
		justify-content: space-between
		padding-bottom: 100px
		.footer-block-logo
			width: 21%
			margin-top: 15px
			&>img 
				max-width: 261px
				min-height: 90px
			.footer-logo-link
				font-size: 18px
				color: #fff
				font-weight: 400
				opacity: 0.5
				line-height: 30px

		.footer-block-contacts
			width: 40%
			display: flex
			.footer-block-contacts-bg
				background: url('/img/footer-bg.jpg')
				background-size: cover
				width: 65%
				height: 114%
				border-radius: 10px
				margin-right: 50px
			.footer-block-contacts-choice
				margin-top: 35px
				.footer-block-address
					font-size: 22px
					color: #fff
					line-height: 34px
					font-weight: 400
					font-style: normal
			
		.footer-block-social
			margin-top: 35px
			.footer-block-social-flex
				margin-bottom: 10px
				.footer-block-social-top
					display: flex
					margin-bottom: 10px
					&:last-child
						margin-bottom: 0
					.footer-block-social-link
						font-size: 22px
						color: #fff
						font-weight: 400
						line-height: 34px
						margin-right: 20px

			.footer-small
				.footer-block-small
					font-size: 14px
					color: #fff
					font-weight: 400
					line-height: 34px

		.footer-arrow
			.footer-arrow-link img
				max-width: 101px
				min-height: 101px



			


	

